*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'open sans',sans-serif;
    width: 90%;
    margin: auto;
    
}
.hr1{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    padding: 0;
}

h1{
    font-size: 200px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.ad{
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 0;
    text-transform: uppercase;
    font-style: italic;
    background-color: black;
    color: white;
    width: 85%;
    margin: auto;

}
span{
    color: teal;
    font-family: 'Roboto Slab',serif;
    font-weight: 900;
}

.edition{
    float: right;
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;

}
.hr2{
    margin-top: 40px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    padding: 0;

}
.container-1{
    display:grid;
    grid-gap: 40px;
    grid-template-areas: 
    'p-1 break image-1'
    'p-1 break image-1'
    'p-1 break image-1';

}
.image-1{
    grid-area: image-1;
    min-height: 400px;
    min-width: 900px;
    background-color: grey;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items:start ;
    justify-content: center;
}
.break{
    grid-area: black;
    border-color:black ;
 
}



